{% extends 'home.njk' %}

{% block body %}

<div onresize="resize()">
    <div class="wrapper">
        {# loginPage #}
        <div id="loginPage">
			<div class="loginPageContent input-group">
				<h1 class="text-center">Hội thoại lên tới 5 người</h1>
				<input type="text" id="roomName"  value="{{ room }}" autofocus  />
                <div class="checkbox">
                    <label><input type="checkbox"> Tạo phòng có mật khẩu</label>
                </div>
				<div class="wrap_btn_start">
					<button id="startBtn" type="submit" value="Submit" class="btnStart">Tạo phòng</button>
				</div>
			</div>
		</div>
        {# End loginPage #}

        {# requestPage #}
        <div id="requestPage">
			<button id="backBtn">
				<i class="glyphicon glyphicon-menu-left" style="top: 5px;"></i>
			</button>
			<div class="loginPageContent">
				<h1 class="text-center">Nhập mật khẩu</h1>
				<div class="text_start">&nbsp;</div>
                <input type="password" class="form-control" id="requestInput" autofocus>
				<div class="wrap_btn_start">
					<button id="requestBtn" class="btnStart">Bắt đầu</button>
				</div>
			</div>
		</div>
        {# End requestPage #}
        
        {# videoPage #}
        <div id="videoPage">
			<div id="buttonArea" class="col-xs-12 top_menu ">
				<button id="logo" class="transparent" disabled>
					<img style="height: 40px; width: 40px; margin-bottom: 5px;" src="/images/logo.png">
				</button>
				<input type="text" id="locationLink" readonly>
				<button id="copyBtn">Copy</button>
				<div class="btn_icon">
					<button id="audioMuteBtn" value="on" class="transparent">
						<img id="audioImg" class="icon" src="/images/mic-on.png">
					</button>
					<button id="videoMuteBtn" value="on" class="transparent">
						<img id="videoImg" class="icon" src="/images/cam-on.png">
					</button>
					<button id="endBtn" class="transparent">
						<img class="icon" src="/images/end.png">
					</button>
				</div>

				<div id="copyNotify">
					Link has been copied to clipboard
				</div>
				<img id="snapshot" class="hidden">
				<canvas class="hidden"></canvas>
			</div>

			<div class="col-xs-12 content">
				<div id="mainArea" class="col-xs-9 col-sm-7">
					<div id="divLocal" class="mainDiv">
						<video class="mainVideo" id="videoLocal" autoplay></video>
						<img class="videoImg mainImg hidden" id="viImgLocal" src="/images/no-video.png">
						<img class="micIcon mainIcon hidden" id="micIconLocal" src="/images/main-mic-off.png">
					</div>
				</div>

				<div id="subArea" class="col-xs-3 col-sm-2">

				</div>

				<div id="chatArea" class="col-xs-12 col-sm-3">
					<div id="textArea" class="box">
						<div class="space"></div>
					</div>
					<div class="wrap-message-btn">
						<input type="text" id="messageInput" placeholder="Message..." />
						<div class="input">
							<i id="attachFile" class="glyphicon glyphicon-paperclip"></i>
							<i id="sendBtn" class="glyphicon glyphicon-send"></i>
						</div>
					</div>
				</div>
			</div>

		</div>
        {# End videoPage #}
    </div>
</div>
<input type="file" id="get" class="hidden">
<script src="https://cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js"></script>
<script src="/js/publicConference.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/config.js"></script>
{% endblock %}